{% extends 'base.html' %}
    {% block content %}
    <div class="row mb-2">
      <div class="col-lg-8" style="width: 30%; margin-top: 2%; padding-bottom: 0;">
          <form class="form-inline" method="GET" action="">
              <div class="form-group mb-2">
                {% if query %}
                  <input type="search" class="form-control searchQuery" id="movieTitle" name="query" value="{{query}}" placeholder="Ex) 인셉션">
                {% else %}
                  <input type="search" class="form-control searchQuery" id="movieTitle" name="query" placeholder="Ex) 인셉션">
                {% endif %}
              </div>
          </form>                            
      </div>
    </div>
    <div class="index-container" style="
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    ">
    
        {% for movie in movies %}
        <div class="card" style="
        width: 25%;
        margin-top: 50px;
        ">
            <a href="{% url 'movie:detail' movie.id %}">
                <img src="{{movie.poster_url}}" class="card-img-top" alt="...">
                <div class="card-body" style="
                text-align: center;
                text-decoration: none;
                ">
                  <p class="card-text">{{movie.title_kor}}</p>
                </div>
            </a>
        </div>
        {% endfor %}
        <div style="width: 100%">
          <nav aria-label="..." style="margin-left: 40%; margin-top: 2%; margin-bottom: 2%;">
            <ul class="pagination">
              {% if movies.has_previous %}
              <li class="page-item">
                <a href="?page=1&query={{ query }}" class="page-link">First</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a href="?page=1&query={{ query }}" class="page-link">First</a>
              </li>
              {% endif %}
        
              {% for page in page_range %}
                {% if page == movies.number %}
                <li class="page-item active" aria-current="page">
                  <span class="page-link">{{ page }}</span>
                </li>
                {% else %}
                <li class="page-item">
                  <a href="?page={{page}}&query={{ query }}" class="page-link">{{page}}</a>
                </li>
                {% endif %}
              {% endfor %}
              {% if movies.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ movies.paginator.num_pages }}">Last</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <span class="page-link">Last</span>
              </li>
              {% endif %}
            </ul>
          </nav>
      </div>
    {% endblock %}